*{list-style:none;text-decoration:none;}
.configurator:after,.steps-block-wrapper:after{clear:both;display:block;content:""}
h1 {margin-top: 15px;}
.configurator{margin: 0 auto;max-width: 1200px;min-height:700px}
.product-image-wrapper, .steps-wrapper {float: left;width: 50%;}
.steps-selector-wrapper{float: left;box-sizing: border-box;margin-bottom: 0;min-height: 600px;border-right: 1px solid #ccc;width: 22%;}
.steps-selector{border: 3px solid #efeeed;cursor: pointer;font-size: 11px;height: 70px;line-height: 8px;margin: 0 0 15px;min-height: 65px;position: relative;text-align: center;width: 70px;}
.steps-selector span{color: #5a585a;font-family:"Times New Roman",Verdana,sans-serif;font-size: 12px;left: 0;line-height: 14px;position: absolute;text-transform: uppercase;top: 45%;width: 100%;word-wrap: break-word;}
.steps-selector span.trans_overlay{background: #494949;height: 100%;opacity: 0.15;top: 0 !important;}
.swatches-render {float: left;width: 70%;margin-left:15px;}
.steps-block-wrapper .swatch-selector {display: inline-block;margin: 0 5px 5px 0;}