<ul>
	<li class="steps-selector" ng-repeat="product in productSwatches.options" ng-if="product.group == null" ng-click="showDependent(product.title)">
		<div class="slider-item"> <div class="left-thumb-img"></div>
			<span class="trans_overlay">&nbsp;</span>
			<span>{{product.title}}</span>
		</div>
	</li>
</ul>
