<div ng-repeat="product in productSwatches.options">
	<div ng-class="{{product.title}}" ng-show="product.title == showTitle">
		<h3>{{product.title}}</h3>
		<div ng-if="product.type=='swatches'">
			<div class="swatch-selector" ng-repeat="selection in product.selections">
				<img width="80" height="80" src="{{productSwatches.base_image_url}}{{selection.image}}" alt="{{selection.name}}" />
			</div>
		</div>
		<div ng-if="product.type=='radio'">
			<div ng-repeat="selection in product.selections" class="radio-selector">
				<input type='radio' name='{{product.title}}'/>{{selection.name}}
			</div>
		</div>
		<div ng-if="product.type=='select'">
			<div class="select-selector">
				<select ng-model="optionValue">
					<option ng-repeat="selection in product.selections">{{selection.name}}</option>
				</select>
			</div>
			<div ng-repeat="selection in product.selections" ng-show="selection.name == optionValue">
				<div ng-repeat="product in productSwatches.options" ng-if="product.group != null">
					<div ng-if="product.title==selection.name">
						<h3>{{product.title}}</h3>
						<div ng-if="product.type=='swatches'">
							<div class="swatch-selector" ng-repeat="dependentselection in product.selections">
								<img width="80" height="80" src="{{productSwatches.base_image_url}}{{dependentselection.image}}" alt="{{dependentselection.name}}" />
							</div>
						</div>
						<div ng-if="product.type=='radio'">
							<div ng-repeat="dependentselection in product.selections" class="radio-selector">
								<input type='radio' name='{{product.title}}'/>{{dependentselection.name}}
							</div>
						</div>
						<div ng-if="product.type=='select'">
							<div class="select-selector">
								<select>
									<option ng-repeat="dependentselection in product.selections">{{dependentselection.name}}</option>
								</select>
							</div>
						</div>
						<div ng-if="product.type=='text'">
							<div ng-repeat="dependentselection in product.selections" class="text-selector">
								<input type="text"/>
							</div>
						</div>
						<div ng-if="product.type=='multiselect'">
							<div class="multiselect-selector">
								<select multiple>
									<option ng-repeat="dependentselection in product.selections">{{dependentselection.name}}</option>
								</select>
							</div>
						</div>
						<div ng-if="product.type=='images'">
							<div ng-repeat="dependentselection in product.selections" class="images-selector">
								<img width="80" height="80" src="{{productSwatches.base_image_url}}{{dependentselection.image}}" alt="{{dependentselection.name}}" />
							</div>
						</div>
						<div ng-if="product.type=='checkbox'">
							<div ng-repeat="dependentselection in product.selections" class="checkbox-selector">
								<input type='checkbox'/>{{dependentselection.name}}
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div ng-if="product.type=='text'">
			<div ng-repeat="selection in product.selections" class="text-selector">
				<input type="text"/>
			</div>
		</div>
		<div ng-if="product.type=='multiselect'">
			<div class="multiselect-selector">
				<select multiple>
					<option ng-repeat="selection in product.selections">{{selection.name}}</option>
				</select>
			</div>
		</div>
		<div ng-if="product.type=='images'">
			<div ng-repeat="selection in product.selections" class="images-selector">
				<img width="80" height="80" src="{{productSwatches.base_image_url}}{{selection.image}}" alt="{{selection.name}}" />
			</div>
		</div>
		<div ng-if="product.type=='checkbox'">
			<div ng-repeat="selection in product.selections" class="checkbox-selector">
				<input type='checkbox'/>{{selection.name}}
			</div>
		</div>
	</div>
</div>

