<!DOCTYPE html>
<html>
<head>
	<title>Loom Configurator</title>
	<link href="css/styles.css" rel="stylesheet"/>
	<script src="js/angular.min.js"></script>
	<script src="js/loom-app.js"></script>
	<script src="js/loom-controllers.js"></script>
</head>
<body>
	<div class="configurator" ng-app="loom-configurator">
		<div class="product-image-wrapper" ng-controller="productImageCtrl">
			<h1>{{productSwatches.original_bundle_info.name}}<span ng-if='productSwatches.original_bundle_info.main_fabric != null'> / {{productSwatches.original_bundle_info.main_fabric}}</span></h1>
			<div class="product-image">
				<img src="images/L200_BK.jpg" alt="Product image"/>
			</div>
		</div>
		<div class="steps-wrapper" ng-controller="productOptionCtrl">
		   <div class="steps-selector-wrapper" ng-include="'partials/steps.html'"></div>
		   <div class="steps-block-wrapper">
		   		<div class="swatches-render" ng-include="'partials/steps-block.html'"></div>
		   </div>
		</div>
	</div> 
	
</body>
</html>
