{{selected.title}}
<div ng-controller="productOptionCtrlNew">
	<ul class="select-wrapper">
		<li class="select-selector" >
			<select>
				<option ng-click="dependentStepSelection(selection.name)" ng-repeat="selection in selected.selections">{{selection.name}}</option>
			</select>
		</li>
	</ul>
	
</div>

<div ng-switch="dependentSelected.type">
		<div  ng-switch-when="swatches">
			{{dependentSelected.title}}
			<ul>
				<li class="swatch-selector" ng-repeat="selection in dependentSelected.selections">
						<img width="80" height="80" src="{{productSwatches.base_image_url}}{{selection.image}}" alt="{{selection.name}}" />
				</li>
			</ul>
		</div>
	</div>