{{selected.title}}
<ul>
	<li class="swatch-selector" ng-repeat="selection in selected.selections">
			<img width="80" height="80" src="{{productSwatches.base_image_url}}{{selection.image}}" alt="{{selection.name}}" />
	</li>
</ul>