{{selected.title}}
<ul>
	<li class="select-selector" ng-controller="productOptionCtrlNew">
		<select>
			<option ng-click="selectNew(selection.name)" ng-repeat="selection in selected.selections">{{selection.name}}</option>
		</select>
	</li>
</ul>